@import "tailwindcss";

@media print {
    body {
        margin: 0;
        padding: 0;
        background: white;
    }

    @page {
        size: 80mm auto;
        margin: 0;
    }

    * {
        box-shadow: none !important;
        overflow: visible !important;
    }
}